# Configurações do Banco
DB_HOST=170.78.97.36
DB_PORT=5400
DB_NAME=checkin
DB_USER=MF_admin    
DB_PASSWORD=proj_proj

# Configurações de Segurança
SECRET_KEY=sua_chave_secreta_muito_segura_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Configurações do Servidor
HOST=0.0.0.0
PORT=8000
DEBUG=True 